html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#9C0090, #32002E);
  /*background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);*/
  min-height: 100%;
  padding-bottom: 5rem;
}
h1, h2  {
  color: white;
  padding: 2rem 0;
  text-align: center;

  text-transform: uppercase;

  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}

/*.lista-facturas .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-facturas .media:last-of-type{
  border-bottom: 0;
}
.lista-facturas .media-body p {
  margin:0;
}
.lista-facturas .media-body button {
  margin-top: 1rem!important;
}
.lista-facturas .media-body span {
  font-weight: bold;
}*/

label {
  color: white;
}

input[type="date"],
input[type="time"] {
  height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.factura {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
}

.factura p {
  font-weight: bold;
  margin-bottom: .8rem;
}
.factura p span {
  font-weight: normal;

}
.factura:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.factura:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.button.eliminar,
.button.eliminar:hover {
  background-color: #c10059;
  color: white;
  margin-top: 2rem;
}

.button.descargar,
.button.descargar:hover {
  background-color: #c10059;
  color: white;
  margin-top: 2rem;
}

.alerta-error {
  background-color: white;
  color: red;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family:  'Staatliches', cursive;
} 